*{
    margin:0;
    padding: 0;

}
.header{
    height:100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
.icon-bar
{
    background:rgba(255, 0, 0, 0.856);
}
li a{
   color: rgb(238, 10, 10); 
}
h1{
    position:absolute;
    top: 150px;
    left:80%;
    color: deeppink;
    font-size: 50px;
}
.button{
    position:absolute;
    top: 400px;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn{
    width: 150px;
    height: 50px;
    color: rgb(223, 12, 12);
    font-size: 20px;
    background-color: rgb(24, 8, 253);
    border:1px solid ;
   
   }
   a.btn:hover{
       background: darkcyan;
       border: none;
       color:rgb(228, 18, 18);
       box-shadow: 5px 5px 10px;

   }
   footer{
       width:100%;
       background-color: #222;
       padding:60px 0px;
   }